alias ta="tmux attach-session"
alias tl='tmux list-sessions'
alias tn="tmux new-session"
alias r="ranger"
alias l="exa -l --git"
alias rg="rg -i"
alias ..='cd ..'
alias ...='cd ../..'
alias bwu='export BW_SESSION="$(bw unlock --raw)"'

alias vbox='sudo mount -t vboxsf vbox_shared /mnt/vs && cd /mnt/vs'
alias vboxd='sudo mount -t vboxsf vbox_shared /mnt/vs && cd /mnt/vs/dotfiles'
