[Desktop Entry]
Exec=/home/kossak/.dotfiles/bin/xmodmap_keyboard
Icon=dialog-scripts
Name=xmodmap_keyboard
Path=
Type=Application
X-KDE-AutostartScript=true
